* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

// Nav
header {
    background-color: #0E0E0E;
    height: 336px;

    .container {
        .nav {
            max-width: 1440px;
            margin: 1px solid #fff;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            padding-top: 32px;

            .logo {
                .menu {
                    display: none;
                }
            }

            ul {
                display: flex;
                list-style: none;
                gap: 34px;

                li {
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 25px;
                    letter-spacing: 2px;
                    color: #fff;
                    cursor: pointer;
                }

                li:hover {
                    color: #D87D4A;
                    transition: 1s ease;
                }
            }
        }

        h1 {
            font-weight: 700;
            font-size: 40px;
            line-height: 44px;
            letter-spacing: 1.43px;
            text-align: center;
            color: #fff;
            position: relative;
            top: 100px;
        }
    }
}

// Responsividade na tela de 834px
@media(max-width:834px) {
    header {
        background-color: #0E0E0E;
        height: 336px;

        .container {
            .nav {
                max-width: 689px;
                margin: 1px solid #fff;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                padding-top: 32px;

                .logo {
                    display: flex;
                    gap: 42px;

                    .menu {
                        display: block;
                        color: #fff;

                    }
                }

                ul {
                    display: none;
                    list-style: none;
                    gap: 34px;

                    li {
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 25px;
                        letter-spacing: 2px;
                        color: #fff;
                        cursor: pointer;
                    }

                    li:hover {
                        color: #D87D4A;
                        transition: 1s ease;
                    }
                }
            }

            h1 {
                font-weight: 700;
                font-size: 40px;
                line-height: 44px;
                letter-spacing: 1.43px;
                text-align: center;
                color: #fff;
                position: relative;
                top: 100px;
            }
        }
    }
}

// Responsividade na tela mobile:

@media(max-width:600px), (max-width:428px) {
    header {
        background-color: #0E0E0E;
        height: 336px;

        .container {
            .nav {
                max-width: 347px;
                margin: 1px solid #fff;
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
                padding-top: 32px;

                .logo {
                    display: flex;
                    gap: 42px;

                    .menu {
                        display: block;
                        color: #fff;

                    }
                }

                ul {
                    display: none;
                    list-style: none;
                    gap: 34px;

                    li {
                        font-weight: 700;
                        font-size: 13px;
                        line-height: 25px;
                        letter-spacing: 2px;
                        color: #fff;
                        cursor: pointer;
                    }

                    li:hover {
                        color: #D87D4A;
                        transition: 1s ease;
                    }
                }
            }

            h1 {
                font-weight: 700;
                font-size: 40px;
                line-height: 44px;
                letter-spacing: 1.43px;
                text-align: center;
                color: #fff;
                position: relative;
                top: 100px;
            }
        }
    }
}

// Section
section {
    display: flex;
    margin-top: 160px;
    flex-direction: column;
    gap: 160px;

    .impar {
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 125px;

        .container-xx9,
        .container-xx59 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 540px;
            height: 560px;
            background-color: #f1f1f1;

            img {
                max-width: 100%;
            }
        }

        .xx9-specifications,
        .xx59-specifications {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-top: 52px;
                color: #D87D4A;
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 10px;
                font-weight: 400;
            }

            h1 {
                margin-top: 16px;
                max-width: 445px;
                color: #000;
                font-size: 40px;
                font-weight: 700;
                line-height: 44px;
                letter-spacing: 1.429px;
            }

            p {
                margin-top: 32px;
                color: #000;
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                opacity: .5;
                max-width: 445px;
                opacity: 50%;
            }

            button {
                margin-top: 40px;
                border: none;
                background-color: #D87D4A;
                width: 160px;
                height: 48px;
                color: #FFF;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }

    .par {
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 125px;

        .container-xx99 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 540px;
            height: 560px;
            background-color: #f1f1f1;
        }

        .xx99-specifications {
            h2 {
                color: #D87D4A;
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 10px;
                font-weight: 400;
            }

            h1 {
                color: #000;
                font-size: 40px;
                font-weight: 700;
                line-height: 44px;
                letter-spacing: 1.429px;
            }

            p {
                margin-top: 32px;
                color: #000;
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                opacity: .5;
                max-width: 445px;
                opacity: 50%;
            }

            button {
                margin-top: 40px;
                border: none;
                background-color: #D87D4A;
                width: 160px;
                height: 48px;
                color: #FFF;
                font-size: 13px;
                font-weight: 700;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
    }

}

// Responsividade tela de tablet:
@media (max-width:834px) {
    section {
        display: flex;
        margin-top: 160px;
        flex-direction: column;
        gap: 120px;

        .impar {
            margin: 0 auto;
            display: block;
            align-items: center;
            gap: 125px;

            .container-xx9,
            .container-xx59 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 689px;
                height: 352px;
                background-color: #f1f1f1;

                .xx99 {
                    margin-top: 524px;
                }
            }



            .xx9-specifications,
            .xx59-specifications {

                .h1-xx99-headphones {
                    margin-top: 52px;
                }

                h2 {

                    color: #D87D4A;
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 10px;
                    font-weight: 400;
                }

                h1 {
                    margin-top: 16px;
                    text-align: center;
                    color: #000;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 44px;
                    letter-spacing: 1.429px;
                }

                p {
                    margin-top: 32px;
                    color: #000;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 25px;
                    opacity: .5;
                    max-width: 572px;
                    text-align: center;
                    opacity: 50%;
                }

                button {
                    margin-top: 40px;
                    border: none;
                    background-color: #D87D4A;
                    width: 160px;
                    height: 48px;
                    color: #FFF;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }


        }

        .par {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 125px;

            .container-xx99 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 689px;
                height: 352px;
                background-color: #f1f1f1;
            }

            .xx99-specifications {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                h2 {
                    color: #D87D4A;
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 10px;
                    font-weight: 400;
                }

                h1 {
                    max-width: 445px;
                    color: #000;
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 44px;
                    letter-spacing: 1.429px;
                }

                p {
                    margin-top: 32px;
                    color: #000;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 25px;
                    opacity: .5;
                    max-width: 445px;
                    opacity: 50%;
                }

                button {
                    margin-top: 40px;
                    border: none;
                    background-color: #D87D4A;
                    width: 160px;
                    height: 48px;
                    color: #FFF;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }

    }
}

// Responsividade na tela mobile:
@media (max-width:428px) {
    section {
        display: flex;
        margin-top: 160px;
        flex-direction: column;
        gap: 120px;

        .impar {
            margin: 0 auto;
            display: block;
            align-items: center;
            gap: 125px;

            .container-xx9,
            .container-xx59 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 327px;
                height: 352px;
                background-color: #f1f1f1;

                .xx99 {
                    margin-top: 524px;
                }
            }



            .xx9-specifications,
            .xx59-specifications {

                .h1-xx99-headphones {
                    margin-top: 32px;
                }


                h1 {
                    margin-top: 24px;
                    color: #000;
                    font-size: 28px;
                    line-height: 38px;
                    letter-spacing: 1px;
                }

                p {
                    margin-top: 24px;
                    max-width: 327px;

                }

                button {
                    margin-top: 40px;
                    border: none;
                    background-color: #D87D4A;
                    width: 160px;
                    height: 48px;
                    color: #FFF;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }


        }

        .par {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;

            .container-xx99 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 327px;
                height: 352px;
                background-color: #f1f1f1;
            }

            .xx99-specifications {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                h2 {
                    color: #D87D4A;
                    font-size: 14px;
                    line-height: 19px;
                    letter-spacing: 10px;
                    font-weight: 400;
                }


                h1 {
                    margin-top: 24px;
                    color: #000;
                    font-size: 28px;
                    line-height: 38px;
                    letter-spacing: 1px;
                }

                p {
                    margin-top: 24px;
                    max-width: 327px;

                }

                button {
                    margin-top: 40px;
                    border: none;
                    background-color: #D87D4A;
                    width: 160px;
                    height: 48px;
                    color: #FFF;
                    font-size: 13px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
            }
        }

    }
}














main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px;
    gap: 30px;


    .headphones>img {
        width: 90px;
    }

    .products {
        width: 350px !important;
        height: 204px !important;
        border-radius: 10px;
        background-color: #f1f1f1;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        img {
            position: relative;
            top: -80px;
            max-width: 100%;
        }

        h3,
        a {
            position: relative;
            top: -54px;
        }

        h3 {
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 1.29px;
            color: #000;
        }

        a {
            margin-top: 17px;
            font-weight: 700;
            font-size: 13px;
            line-height: 17px;
            letter-spacing: 1px;
            color: #000;
            opacity: 50%;
            text-decoration: none;
            text-align: center;
        }

        a::after {
            content: '>';
            color: #D87D4A;
            font-size: 20px;
            text-align: center;
        }
    }
}

@media (max-width:834px) {
    main {
        margin: 148px;
        gap: 10px;
        width: 100%;
        margin: 148px auto;


        .headphones>img {
            width: 90px;
        }

        .products {
            width: 223px !important;
            height: 165px !important;
            border-radius: 10px;
            background-color: #f1f1f1;
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            img {
                position: relative;
                top: -80px;
                max-width: 100%;
            }

            h3,
            a {
                position: relative;
                top: -54px;
            }

            h3 {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 1.29px;
                color: #000;
            }

            a {
                margin-top: 17px;
                font-weight: 700;
                font-size: 13px;
                line-height: 17px;
                letter-spacing: 1px;
                color: #000;
                opacity: 50%;
                text-decoration: none;
                text-align: center;
            }

            a::after {
                content: '>';
                color: #D87D4A;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}

@media(max-width:600px), (max-width:428px) {
    main {
        margin: 148px;
        gap: 68px;
        width: 100%;
        margin: 92px auto;
        flex-direction: column;


        .headphones>img {
            width: 90px;
        }

        .products {
            width: 327px !important;
            height: 165px !important;
            border-radius: 10px;
            background-color: #f1f1f1;
            display: flex;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            img {
                position: relative;
                top: -60px;
                max-width: 100%;
            }

            h3,
            a {
                position: relative;
                top: -26px;
            }

            h3 {
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 1.29px;
                color: #000;
            }

            a {
                margin-top: 17px;
                font-weight: 700;
                font-size: 13px;
                line-height: 17px;
                letter-spacing: 1px;
                color: #000;
                opacity: 50%;
                text-decoration: none;
                text-align: center;
            }

            a::after {
                content: '>';
                color: #D87D4A;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}

// History

.history-audiophile {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 125px;
    margin-top: 200px;

    .about-audiophile {
        h1 {
            text-transform: uppercase;
            max-width: 445px;
            font-weight: 700;
            font-size: 40px;
            line-height: 44px;
            letter-spacing: 1.43px;
            color: #000;

            span {
                color: #D87D4A;
            }
        }

        p {
            margin-top: 32px;
            max-width: 445px;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            color: #000;
            opacity: 50%;
        }
    }

    .image-model {
        .model {
            display: block;
        }

        .model-tablet {
            display: none;
        }

        .model-smartphone {
            display: none;
        }
    }
}

@media (max-width:834px) {
    .history-audiophile {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 63px;
        margin-top: 0;

        .about-audiophile {
            text-align: center;

            h1 {
                margin-top: 0;
                text-transform: uppercase;
                max-width: 573px;
                font-size: 40px;
                text-align: center;
            }

            p {
                text-align: center;
                margin-top: 32px;
                max-width: 573px;
                font-weight: 500;
                font-size: 15px;
                line-height: 25px;
                color: #000;
                opacity: 50%;
            }
        }

        .image-model {
            .model {
                display: none;
            }

            .model-tablet {
                display: block;
            }

            .model-smartphone {
                display: none;
            }
        }
    }
}

@media (max-width:600px) and (max-width:428px) {
    .history-audiophile {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 40px;
        margin-top: 0;

        .about-audiophile {
            text-align: center;

            h1 {
                margin-top: 0;
                text-transform: uppercase;
                max-width: 327px;
                font-size: 28px;
                text-align: center;
            }

            p {
                text-align: center;
                margin-top: 32px;
                max-width: 327px;

            }
        }

        .image-model {
            .model-smartphone {
                display: block;
            }

            .model-tablet {
                display: none;
            }

            img {
                width: 327px;
                height: 300px;
            }
        }
    }
}